{% include "layout/databaseNav.html" %}
            <main class="main-database">
                <h1 class="main-database-title">Evènements</h1>
                <!-- 
                <p class="main-database-request"></p>
                <p class="main-database-response"></p> 
                -->
                <p class="main-database-request"><span class="groupes">Groupe: 3</span> Lister les concerts et afficher les artistes présent à chacun d’eux</p>
                <p class="main-database-response">requete</p>

                <p class="main-database-request"><span class="groupes">Groupe: 3</span> Lister les concerts en indiquant le lieu dans lequel ils se déroulent</p>
                <p class="main-database-response">requete</p> 
                
            </main>
        </div>
    </body>
</html>