*{
    margin: 0;
    padding: 0;
}

/* HEADER */

.header{
   height: 10vh; 
   display: flex; 
   align-items: center;
}

.header-title{
    margin-left: 50px;
}

.header-nav-li{
    list-style-type: none;
    padding: 20px;
    background-color: #e84855;
    border-radius: 10px;
}

.header-nav-link{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    transition: 1s;
}

.header-nav-li:hover{
    transition: 1s;
    background-color: #c81927;
}

/* INDEX PAGE */

.main-panels{
    width: 100%;
    height: 90vh;
    background: url(../static/images/main-page-panel.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-panels-info{
    color: #ffffff;
    font-weight: bold;
    font-size: 100px;
    text-shadow: 1px 1px 2px black;

}



/* DATABASE NAVBAR */

.flex-database-content{
    display: flex;
    position: relative;
}

.database-navbar{
    border: 1px solid black;
    width: 30%;
    height: 100vh;
    padding: 25px;
    position: fixed;
    overflow-y: auto;
    background-color: #4b297e;
    color: #ffffff;
}

.database-main-title{
    margin: 20px;
    font-size: 30px;
}

.main-nav{
    padding: 25px;
}

.sub-title{
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

.li-item{
    list-style-type: none;
    padding: 5px;
}

.sub-nav{
    padding: 15px;
}

.link-item{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2%;
    color: #ffffff;
    transition: 1s;   
}

.link-item:hover{
    transition: 1s;
    color: #c81927;
}

.final{
    margin-left: 0;
    padding-left: 0;
    background-color: #e84855;
    border-radius: 10px;
    justify-items: center;
    transition: 1s;
}

.final-link{
    justify-content: center;
}

.final-link:hover{
    color: #ffffff;
   
}

.final:hover{
    transition: 1s;
    background-color: #c81927;
}

.arrow{
    font-size: 30px;
}

/* DATABASE PAGE */

.menu-goupes{
    padding: 5px 0px 5px 0px
    
}

.author{
    font-weight: bold;
}

.item-groupe{
    font-size: 25px;
    margin: 20px;
}

.main-database-request{
    font-size: 20px;
    margin: 15px;
   
}

.groupes{
    font-weight: bold;
    color: #c81927;
}

.main-database-response{
    font-size: 18px;
    color: green;
    font-weight: bold;
    margin: 25px;
}

.main-database{
    padding: 15px;
    width: 62%;
    overflow-y: auto;
    position: absolute;
    right: 0;
}

.main-database-title{
    margin: 15px;
    margin-bottom: 25px;
    font-size: 30px;
    text-align: center;
}
