{% include "layout/databaseNav.html" %}
            <main class="main-database">
                <h1 class="main-database-title">Ajouter une contrainte</h1>
                 <!-- 
                <p class="main-database-request"></p>
                <p class="main-database-response"></p> 
                -->
                
                <p class="main-database-request"><span class="groupes">Groupe: 3</span> Lister les instruments de chaque groupe</p>
                <p class="main-database-response">requete</p>

                <p class="main-database-request"><span class="groupes">Groupe: 3</span> Lister les salles/lieux et les contraintes techniques de chacune.</p>
                <p class="main-database-response">requete</p>
            </main>
        </div>
    </body>
</html>