{% include "layout/databaseNav.html" %}
            <main class="main-database">
                <h1 class="main-database-title">Contact Musicien</h1>
                <!-- 
                <p class="main-database-request"></p>
                <p class="main-database-response"></p> 
                -->
                <p class="main-database-request"><span class="groupes">Groupe: 1</span> Lister le nom et le prénom des musiciens, ordonnées par leur date de naissance</p>
                <p class="main-database-response">requete</p> 
                
                <p class="main-database-request"><span class="groupes">Groupe: 2</span> Lister les musiciens nés entre 1970 et 1990</p>
                <p class="main-database-response">requete</p>

                <p class="main-database-request"><span class="groupes">Groupe: 4</span> Lister les groupes et leur nombre de membres.</p>
                <p class="main-database-response">requete</p> 
                
            </main>
        </div>
    </body>
</html>