{% include "layout/databaseNav.html" %}
            <main class="main-database">
                <h1 class="main-database-title">Organisation</h1>
                <!-- 
                <p class="main-database-request"></p>
                <p class="main-database-response"></p> 
                -->

                <p class="main-database-request"><span class="groupes">Groupe: 5</span> Lister les nom, prénom de ceux qui font le festival : Artistes et Bénévoles. avec leurs rôle</p>
                <p class="main-database-response">SELECT a.first_name AS name, a.last_name, r.role_name
                    FROM artist a
                    JOIN role r ON a.id = r.person_id
                    UNION ALL
                    SELECT s.first_name AS name, s.last_name, r.role_name
                    FROM staff s
                    JOIN role r ON s.id = r.person_id;
                    </p>
            </main>
        </div>
    </body>
</html>