{% include "layout/databaseNav.html" %}
            <main class="main-database">
                <h1 class="main-database-title">Organisation</h1>
                <!-- 
                <p class="main-database-request"></p>
                <p class="main-database-response"></p> 
                -->

                <p class="main-database-request"><span class="groupes">Groupe: 5</span> Lister les nom, prénom de ceux qui font le festival : Artistes et Bénévoles. avec leurs rôle</p>
                <p class="main-database-response">request</p>
            </main>
        </div>
    </body>
</html>