{% include "layout/databaseNav.html" %}
            <main class="main-database">
                <h1 class="main-database-title">Dashboard comptable</h1>
                <!-- 
                <p class="main-database-request"></p>
                <p class="main-database-response"></p> 
                -->

                <p class="main-database-request"><span class="groupes">Groupe: 3</span> Calculer le panier moyen des ventes</p>
                <p class="main-database-response">requete</p> 

                <p class="main-database-request"> <span class="groupes">Groupe: 4</span> Lister les concerts en indiquant le nombre de places vendues.</p>
                <p class="main-database-response">request</p> 

                <p class="main-database-request"><span class="groupes">Groupe: 4</span> Lister le total des ventes pour chaque journée de festival (en se basant sur startTime)</p>
                <p class="main-database-response">request</p>
                
                <p class="main-database-request"><span class="groupes">Groupe: 4</span> Lister la moyenne du montant des ventes pour chaque concert</p>
                <p class="main-database-response">request</p>

                <p class="main-database-request"><span class="groupes">Groupe: 6</span> Lister les gens qui ont dépensé plus que la moyenne du panier d’achat</p>
                <p class="main-database-response">resquest</p> 

            </main>
        </div>
    </body>
</html>