{% include "layout/databaseNav.html" %}
            <main class="main-database">
                <h1 class="main-database-title">Organisation</h1>
                <!-- 
                <p class="main-database-request"></p>
                <p class="main-database-response"></p> 
                -->
                <ul class="menu-goupes">
                    <li class="item-groupe">Groupe 1 : SELECT (Sans jointures) (0.5/20)</li>
                    <li class="item-groupe">Groupe 2 : WHERE (0.5/20)</li>
                    <li class="item-groupe">Groupe 3 : JOIN (1/20)</li>
                    <li class="item-groupe">Groupe 4 : GROUP BY (1/20)</li>
                    <li class="item-groupe">Groupe 5 : Requêtes ensemblistes (3/20)</li>
                    <li class="item-groupe">Groupe 6 : Requêtes complexes (3/20)</li>
                </ul>

                <h2 class="main-database-title">Répatition des requêtes SQL</h2>
                <ul class="menu-goupes">
                    <li class="item-groupe">event & eventsDashboard => <span class="author">VANDAL William</span></li>
                    <li class="item-groupe">contactMusician & dashboardOrga => <span class="author">1 personne</span></li>
                    <li class="item-groupe">spectators & constraint & roomsAvailable => <span class="author">1 personne</span></li>
                    <li class="item-groupe">Dashboard => <span class="author">1 personne</span></li>
                </ul>


                <h2 class="main-database-title">Consigne de travail</h2>
                <ol class="menu-goupes">
                    <li class="item-groupe">Importer la base de donnée Squeletic sur sa machine</li>
                    <li class="item-groupe">Trouver et indiquer les bonnes Requêtes SQL </li>
                    <li class="item-groupe">Afficher le résultat correspondant</li>
                </ol>
                
            </main>
        </div>
    </body>
</html>