{% include "layout/databaseNav.html" %}
            <main class="main-database">
                <h1 class="main-database-title">Evènements</h1>
                 <!-- 
                <p class="main-database-request"></p>
                <p class="main-database-response"></p> 
                -->
                <!-- 
                {% for event in events %}
                    {{ event[1] }}
                {% endfor %} 
                -->
                <p class="main-database-request"><span class="groupes">Groupe: 3</span> Lister les concerts auxquels va assister Retha Dookie, avec la liste des membres du groupe, le lieu et la date/heure</p>
                <p class="main-database-response">requete</p>
            </main>
        </div>
    </body>
</html>