{% include "layout/databaseNav.html" %}
            <main class="main-database">
                <h1 class="main-database-title">Dashboard des évènements</h1>
                <!-- 
                <p class="main-database-request"></p>
                <p class="main-database-response"></p> 
                -->

                <p class="main-database-request"><span class="groupes">Groupe: 1</span> Lister les 5 prochains concerts</p>
                <p class="main-database-response">SELECT * FROM event WHERE discr = 'concert' ORDER BY start_time ASC LIMIT 5;</p>
                
                <p class="main-database-request"><span class="groupes">Groupe: 2</span> Lister les concerts (id et date) par ordre chronologique</p>
                <p class="main-database-response">SELECT * FROM event WHERE discr = 'concert' ORDER BY date ASC;</p> 

                <p class="main-database-request"><span class="groupes">Groupe: 3</span> Lister qui est en première et seconde partie de chaque concert (et indiquer s’il n’y a personne)</p>
                <p class="main-database-response">requete</p>
                
                <p class="main-database-request"><span class="groupes">Groupe: 3</span> Lister les groupes et les salles où ils se produisent</p>
                <p class="main-database-response">requete</p> 

                <p class="main-database-request"><span class="groupes">Groupe: 4</span> Lister les concerts qui ont rassemblé plus de 100 spectateurs</p>
                <p class="main-database-response">request</p> 

                <p class="main-database-request"><span class="groupes">Groupe: 6 </span>Afficher les groupes qui passent en seconde partie de concert</p>
                <p class="main-database-response">request</p>
                
            </main>
        </body>
    </div>
</html>