{% include "layout/databaseNav.html" %}
            <main class="main-database">
                <h1 class="main-database-title">Evènements</h1>
                <div class="main-database-cards">
                    {% for event in events %}
                    <div class="main-database-card-event">
                        <h2 class="event-title">{{ event[1] }}</h2>
                        <div class="event-place-url">
                            <span class="event-style"><img class="event-img" src="../static/icons/musique.png" alt="icon-type music">{{ event[2] }}</span>
                            <a href="/database/events/{{event[0]}}" class="link-event">Voir l'évènement</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </main>
        </div>
    </body>
</html>