{% include "layout/head.html" %}
        <main class="main">
            <div class="main-panels">
                <img class="main-panel-image" src="../static/images/main-page-panel.jpg" alt="photo d'un concert du festival 2022">
            </div>
            <h1 class="main-title">Inscrivez-vous pour ne rien rater !</h1>
            <div class="main-details-iscription">
                <p class="main-details-description">
                    Lorem Ipsum is simply dummy text 
                    of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's 
                    standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley 
                    of type and scrambled it to make a type 
                    specimen book. It has survived not only five 
                    centuries, but also the leap into electronic typesetting, 
                    remaining essentially unchanged. It was popularised in 
                    the 1960s with the release of Letraset sheets containing 
                    Lorem Ipsum passages, and more recently with desktop 
                    publishing software like Aldus PageMaker including versions 
                    of Lorem Ipsum.
                </p>
                <a class="cta-inscription" href="#">S'inscrire et voire les évènements</a>
            </div>
        </main>
    </body>
</html>