{% include "layout/databaseNav.html" %}
            <main class="main-database">
                <h1 class="main-database-title">Groupes Musicaux</h1>
                <div class="main-database-cards">
                    {% for group in musicians %}
                    <div class="main-database-card">
                        <h2>{{ group[1] }}</h2>
                        <button>Voir le detail du groupe</button>
                    </div>
                    {% endfor %}
                </div>
            </main>
        </div>
    </body>
</html>