{% include "layout/databaseNav.html" %}
            <main class="main-database">
                <h1 class="main-database-title">Les salles disponnibles</h1>
                <!-- 
                <p class="main-database-request"></p>
                <p class="main-database-response"></p> 
                -->
                <p class="main-database-request"><span class="groupes">Groupe: 1</span> Lister le nom et la capacité des lieux disponibles, ordonnés par capacité croissante</p>
                <p class="main-database-response"> SELECT name, max_spectators
                    <br>FROM place
                    <br>ORDER BY max_spectators ASC;
                    </p> 
               
            </main>
        </div>
    </body>
</html>