{% include "layout/databaseNav.html" %}
            <main class="main-database">
                <h1 class="main-database-title">Gestions des retraits de billet</h1>
                <!-- 
                <p class="main-database-request"></p>
                <p class="main-database-response"></p> 
                -->

                <p class="main-database-request"><span class="groupes">Groupe: 2</span> Lister les spectateurs originaires de Croatie</p>
                <p class="main-database-response">SELECT *
                    FROM spectateur
                    WHERE country = 'Croatia';
                    </p>

                <p class="main-database-request"><span class="groupes">Groupe: 2</span> Lister les spectateurs dont le nom commence par B et nés avant 1970</p>
                <p class="main-database-response">SELECT *
                    FROM spectateur
                    WHERE last_name LIKE 'B%' AND birthdate < '1970-01-01';
                    </p> 
                
            </main>
        </div>
    </body>
</html>